@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');


body {
    font-family: "Playwrite MX", cursive;
    
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
  }
  
  .element {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.9s ease-out, transform 1.2s ease-out;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .element.visible {
    opacity: 1;
    transform: translateY(0);
  }



  .box {
    position: absolute;
    max-width: 1280px;
    min-width: 640px;
    width: 50%;
    height: 130%;
    margin: 10% 10%;
    background-color: green;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.9s ease-out, transform 1.2s ease-out;
    border-radius: 4px;
  }
  
  .box h1{
    position: absolute;
    font-size: 300;
    max-width: 60%px;
    width: 60%;
    color: white;
    left: 10%;
  }

  .box.visible{
    opacity: 1;
    transform: translateY(0);
  }


  @media (max-width: 768px) {
    .element, .box {
      width: 90%;
      padding: 15px;
    }
  
    .box h1 {
      font-size: 1em;
    }
  }
  
  /* Мобильные телефоны в портретной ориентации */
  @media (max-width: 480px) {
    .element, .box {
      width: 95%;
      padding: 10px;
    }
  
    .box h1 {
      font-size: 0.9em;
    }
  }
